<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block title "Chobit" %}</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
</head>
<body class="home page page-template-default">
<div class="container">
{% block header %}{% include 'header.html' %}{% endblock %}
{% block navigation %}{% include 'navigation.html' %}{% endblock %}

<div class="row">
    {% block post %}{% include 'post.html' %}{% endblock %}
    {% block sidebar %}{% include 'sidebar.html' %}{% endblock %}
</div>
{% block footer %}{% include 'footer.html' %}{% endblock %}
</div><!-- /container -->
</body>
</html>