{% extends "layout_for_installer.html" %}
{% block h1 %}Install Chobit{% endblock %}
{% block content %}
<p>NOTE: You have to know about configurations of database.</p>
<ol>
	<li>database name</li>
	<li>user name</li>
	<li>password</li>
	<li>host name (MySQL only)</li>
</ol>
<p><strong>You can set configurations to open the <code>config.sample.php</code> and edit it. after you edit it, change the name to <code>config.php</code>.</strong></p>

<p class="step"><a href="{{ app.url_generator.generate('installer_new') }}" class="button">次に進みましょう !</a></p>

{% endblock %}
